.img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 7px 10px #10c89d25;
}

.item{
    display: flex;
        align-items: center;
        flex-direction: column;
}

.name{
    color: #10C89E;
}